<!-- Single Footer Widget -->
<div class="col-12 col-sm-6 col-lg-3">
  <div class="single-footer-widget mb-80">
    <!-- Widget Title -->
    <h4 class="widget-title">Open Source and Creative Commons</h4>
    <p>
      Our site is open source, and relies on open resources! Read <a href="/about/#free-and-open">more</a>.
    </p>
  </div>
</div>
