<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% seo %}
  <!-- Favicon -->
  <link rel="icon" href="/favicon.png">
  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="/assets/style.css" />
  <!-- Site/subsite-specific stylesheets -->
  {%- if page.subsite %}
  <link rel="stylesheet" href="/{{ page.subsite }}/site.css" />
  {% include podcast_head.html %}
  {% else %}
  <link rel="stylesheet" href="/site.css" />
  {% endif -%}
</head>
