{% if page.tags %}
  <div class="post-catagories d-flex align-items-center">
    <h6>Tags:</h6>
    <ul class="d-flex flex-wrap align-items-center">
      {% for tag in page.tags %}
      <li> {{ tag }}{% if forloop.last != true %},&nbsp;{% endif %} </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
