{% comment %}
  limit: how many posts to list. pass 99999999 etc for all.
{% endcomment %}
<section class="featured-guests-area">
    <div class="row justify-content-around">
      {% for person in site.people limit: include.limit %}
        {% assign person_data = person.person_data %}
        <!-- Single Featured Guest -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="single-featured-guest mb-30">
            <a href="/people/{{ person_data.data_name }}/">
              {% responsive_image_block %}
                path: {{ person_data.image_path }}
                alt: {{ person_data.name }} headshot
                template: _includes/thumbnail.html
              {% endresponsive_image_block %}
            </a>
            <div class="guest-info">
              <a href="/people/{{ person_data.data_name }}/">
                <h5>{{ person_data.name }}</h5>
              </a>
              <span>
                {% assign person_roles = site.empty_array %}
                {% capture role_roles -%}
                  {%- for role in person_data.roles -%}
                    {{ role.role }}{% unless forloop.last %}||{% endunless %}
                  {%- endfor -%}
                {%- endcapture %}
                {% assign roles = role_roles | split: '||' | uniq %}
                {% for role in roles %}
                {{ role | capitalize | replace: '_', ' ' }}{% unless forloop.last %} | {% endunless %}
                {%- endfor %}
              </span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</section>
