<section class="featured-guests-area">
    <div class="row justify-content-around">
      {% assign page_people = page.people | reverse %}
      {% for person in page_people | reverse %}
        <!-- Single Featured Person -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="single-featured-guest mb-30">
            <a href="/people/{{ person.data_name }}/">
              {% assign person_data = site.people | where: "person_data.data_name", person.data_name | first %}
              {% assign person_data = person_data.person_data %}
              {% responsive_image_block %}
                path: {{ person_data.image_path }}
                alt: {{ person_data.name }} headshot
                template: _includes/thumbnail.html
              {% endresponsive_image_block %}
            </a>
            <div class="guest-info">
              <a href="/people/{{ person_data.data_name }}/">
                <h5>{{ person_data.name }}</h5>
              </a>
              <span>
                {% assign person_roles = site.empty_array %}
                {% capture role_roles -%}
                  {%- for role in person.roles -%}
                    {{ role }}{% unless forloop.last %}||{% endunless %}
                  {%- endfor -%}
                {%- endcapture %}
                {% assign roles = role_roles | split: '||' | uniq %}
                {% for role in roles %}
                {{ role | capitalize | replace: '_', ' ' }}{% unless forloop.last %} | {% endunless %}
                {%- endfor %}
              </span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</section>
