  <header class="header-area border-bottom-0" style="position: relative">
    <!-- Main Header Start -->
    <div class="main-header-area subsite-header">
      <div class="classy-nav-container breakpoint-off">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between subsite-header-text" id="pocaNav">

          <!-- Logo -->
          <a class="nav-brand" href="/index.html"><img src="{{ site.site_logo }}" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">

            <!-- Menu Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav">
                {% for item in site.navbar.menu %}
                  {% if item.submenu %}
                    <li><a href="{{ item.url }}">{{ item.text }}</a>
                      <ul class="dropdown">
                        {% for sub_item in item.submenu %}
                          <li><a href="{{ sub_item.url }}">{{ sub_item.text }}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li><a href="{{ item.url }}">{{ item.text }}</a></li>
                  {% endif %}
                  </li>
                {% endfor %}
              </ul>

              <!-- Top Search Area -->
              <div class="top-search-area">
                <form action="/search/" method="get">
                  <input type="search" name="query" class="form-control" placeholder="Search...">
                  <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
              </div>

              <!-- Top Social Area -->
              <div class="top-social-area">
                {% include theme_social_links.html %}
              </div>

            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </header>

  {%- if page.subsite -%}
    {%- capture header_style -%}
      background-image: url(/assets/imgs/site/header_image_{{ page.subsite }}_trans.png);
    {%- endcapture -%}
  {%- else -%}
    {%- assign header_style = "height: 75px;" -%}
  {%- endif -%}
  <div class="breadcumb-area bg-img" style="{{ header_style }}">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <!-- <h2 class="title mt-70">Podcasts</h2> -->
        </div>
      </div>
    </div>
  </div>
