      {% comment %}
        post: expects a whole post here and all its metadata
        link: if false, will not link to the post
        featured: if true, will front it on its own line
      {% endcomment %}
      {% assign post = include.post %}
      {%- assign no_link = include.no_link -%}
      {%- assign featured = include.featured -%}
      {%- if featured %}
        <div class="poca-featured-music-area mt-0">
          <div class="container">
            <div class="row">
              <div class="col-12">
      {% else %}
        <div class="col-12 col-md-6 single_gallery_item {% for category in episode.categories %}{{ category | downcase | replace: " ", "-" }} {% endfor %} wow fadeInUp" data-wow-delay="0ms">
      {% endif %}
              <div class="poca-music-area box-shadow d-flex align-items-center flex-wrap border" data-animation="fadeInUp" data-delay="0ms">
                <div class="poca-music-thumbnail">
                  {%- unless no_link -%}
                    <a href="{{ site.url }}{{ post.url }}">
                  {%- endunless -%}
                  {% imagebydata image: post.image template: _includes/thumbnail.html %}
                  {%- unless no_link -%}
                    </a>
                  {%- endunless -%}
                </div>
                <div class="poca-music-content">
                  {%- unless no_link -%}
                    <a href="{{ site.url }}{{ post.url }}">
                  {%- endunless -%}
                    <h2>{{ post.title }}</h2>
                  {%- unless no_link -%}
                    </a>
                  {%- endunless -%}
                  <span class="music-published-date mb-2">
                    {%- if post.episode.season %}Season #{{ post.episode.season }} | {% endif %}
                    {%- if post.episode.number %}Episode #{{ post.episode.number }} | {% endif %}
                    {{ post.date | date: '%Y.%m.%d' }}
                  </span>
                  <div class="music-meta-data">
                    <p>
                      <a href="{{ site.url }}/{{ post.subsite }}" class="music-author">{{ post.subsite | upcase }}</a>
                      {% if post.episode.media.audio %}
                        {% assign media_duration = post.episode.media.audio['audio/mpeg'].duration %}
                        | <span class="music-catagory">Podcast</span> | <span class="music-duration">{{ media_duration }}</span>
                      {% endif %}
                    </p>
                  </div>
                    {% if post.episode.media.audio %}
                      <!-- Music Player -->
                      <div class="poca-music-player">
                        <audio preload="none" controls="controls">
                          {% assign media_url = post.episode.media.audio['audio/mpeg'].url %}
                          <source src="{{ media_url }}">
                          <a href="{{ media_url }}">{{ media_url }}</a>
                        </audio>
                      </div>
                    {% endif %}
                  <!-- Likes, Share & ownload -->
                  <div class="likes-share-download d-flex align-items-center justify-content-between">
                    <span></span>
                    <div>
                      {% if post.episode.media.audio %}
                      <a href="{{ media_url }}" download="{{ media_url | split: '/' | last }}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
      {% if featured %}
              </div>
            </div>
          </div>
        </div>
      {% else %}
        </div>
      {% endif %}
