<!-- Single Widget Area -->
<div class="single-widget-area news-widget mb-80">
  <h5 class="widget-title">Recent Episodes</h5>

  <!-- Single Post Area -->
  {% assign subsite_episodes = site.categories[page.subsite] | where: 'categories', 'episode' | reverse %}
  {% for episode in subsite_episodes limit: 5 %}
    <div class="single-news-area d-flex">
      <div class="blog-thumbnail">
        {% if episode.image %}
          <a href="{{ site.url }}{{ episode.url }}">
            {% imagebydata image: episode.image template: _includes/thumbnail.html %}
          </a>
        {% endif %}
      </div>
      <div class="blog-content">
        <a href="{{ site.url }}{{ episode.url }}" class="post-title">{{ episode.title }}</a>
        <!-- <span class="post-date">Episode #{{ episode.episode.number }} |  {{ episode.date | date: '%Y.%m.%d' }}</span> -->
      </div>
    </div>
  {% endfor %}
</div>
