        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-10 mp-10">
            <!-- Widget Title -->
            <h4 class="widget-title">About</h4>
            <p>{{ site.about_short }}</p>
          </div>
        </div>
