{% comment %}
  # Depends upon 
{% endcomment %}
<div class="poca-pager d-flex mb-30">
  {% if page.previous.url %}
  <a href="{{ page.paginate_post_in_category[page.subsite].previous_in_category.url }}">Previous Post <span>{{ page.paginate_post_in_category[page.subsite].previous_in_category.title }}</span></a>
  {% else %}
  <span></span>
  {% endif %}
  {% if page.next.url %}
  <a href="{{ page.paginate_post_in_category[page.subsite].next_in_category.url }}">Next Post <span>{{ page.paginate_post_in_category[page.subsite].next_in_category.title }}</span></a>
  {% else %}
  <span></span>
  {% endif %}
</div>
