<div class="container mt-5">
  <div class="row poca-portfolio">
    {% for show in site.subsites %}
      {% if show.type == "show" %}
        <div class="col-8 col-md-6 single_gallery_item my-3">
          <a href="/{{ show.subsite }}">
            {%- responsive_image_block %}
              path: assets/imgs/{{ show.subsite }}/podcast.logo.jpg
              alt: {{ show.subsite_pretty }} {{ show.subsite }} podcast show logo
              template: _includes/thumbnail.html
            {% endresponsive_image_block -%}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
