---
layout: main
---
  <!-- ***** Latest Episodes Area Start ***** -->
  <!-- <div class="container"> -->
  <!--   <div class="row"> -->
  <!--     <1!-- Section Heading --1> -->
  <!--     <div class="col-12"> -->
  <!--       <div class="section-heading text-center"> -->
  <!--         <h2>The Latest From the Network</h2> -->
  <!--         <div class="line"></div> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->

  <!-- <1!-- ***** Featured Post Area Start ***** --1> -->
  <!-- {## assign episodes = site.categories['episode'] ##} -->
  <!-- {##- for episode in episodes limit: 1 -##} -->
  <!--   {## include theme_post_preview_featured.html episode=episode ##} -->
  <!-- {##- endfor -##} -->
  <!-- <1!-- ***** Featured Post Area End ***** --1> -->

  <!-- <section class="poca-latest-epiosodes section-padding-80"> -->
  <!--   {## assign post_count = 4 ##} -->
  <!--   {## assign categories_all = episodes | slice: 1, post_count | map: 'categories' | uniq ##} -->
  <!--   <1!-- Episode listing --1> -->
  <!--   <div class="container"> -->
  <!--     <div class="row poca-portfolio"> -->
  <!--       {## assign episodes = episodes | slice: 1, post_count ##} -->
  <!--       {## for episode in episodes limit: post_count ##} -->
  <!--         {## include theme_post_preview_thumbnail.html episode=episode ##} -->
  <!--       {## endfor ##} -->
  <!--     </div> -->
  <!--   </div> -->

  <!-- </section> -->

  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Our Shows</h2>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Shows Area Start ***** -->
  <div class="row mb-3 justify-center">
    <div class="col-2"></div>
    <div class="col-8">
      {% include theme_list_shows.html %}
    </div>
    <div class="col-2"></div>
  </div>

  <!-- <1!-- ***** Featured Guests Area Start ***** --1> -->
  <!-- <div class="container"> -->
  <!--   <div class="row"> -->
  <!--     <1!-- Section Heading --1> -->
  <!--     <div class="col-12"> -->
  <!--       <div class="section-heading text-center"> -->
  <!--         <h2>Featured Guests and Hosts</h2> -->
  <!--         <div class="line"></div> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- <div class="container"> -->
  <!--   <div class="row"> -->
  <!--     <1!-- Section Heading --1> -->
  <!--     <div class="col-2"></div> -->
  <!--     <div class="col-8"> -->
  <!--       { include theme_guests_list.html limit=3 %} -->
  <!--     </div> -->
  <!--     <div class="col-2"></div> -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- <1!-- ***** Featured Guests Area End ***** --1> -->
  <!-- <div class="container "> -->
  <!--   <div class="row"> -->
  <!--     <div class="col-12 text-center"> -->
  <!--       <a href="/people/" class="btn poca-btn mt-20">All Hosts & Guests</a> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->

  <p></p>
  <!-- ***** Latest Episodes Area End ***** -->
