---
layout: main
---
{% assign subsite = site.subsites | where: 'subsite', page.subsite | first %}
<!-- ***** Subscribe Area Start ***** -->
{% include podcast_subscribe.html %}
<!-- ***** Subscribe Area End ***** -->

<div class="container">
  <div class="row">
    <!-- Section Heading -->
    <div class="col-12">
      <div class="section-heading text-center">
        <h2>{{ subsite.subsite_pretty }} - All Posts</h2>
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>

{% assign subsite_posts = site.categories[page.subsite] | where: 'categories', 'episode' | reverse %}

<!-- ***** Latest posts Area Start ***** -->
<section class="poca-latest-episodes section-padding-80">

  {% assign categories_all = subsite_posts | map: 'categories' | uniq %}
  {% include theme_listing_categories.html categories=categories_all %}

  <!-- post listing -->
  <div class="container">
    <div class="row poca-portfolio">
      {% for post in subsite_posts %}
        {% include theme_post_preview_thumbnail.html episode=post %}
      {% endfor %}
    </div>
  </div>

</section>
<p></p>
<!-- ***** Latest posts Area End ***** -->
