---
layout: main
---
  {% if site.podcast[page.subsite].destinations.rss.destination_link.url %}
    <!-- ***** Google please index this podcast start ***** -->
    <link type="application/rss+xml" rel="alternate" title="{{ site.podcast[page.subsite].title  }}" href="{{ site.podcast[page.subsite].destinations.rss.destination_link.url }}"/>
    <!-- ***** Google please index this podcast end ***** -->
  {% endif %}
  {% if site.podcast[page.subsite].destinations %}
    <!-- ***** Subscribe Area Start ***** -->
    {% include podcast_subscribe.html %}
    <!-- ***** Subscribe Area End ***** -->
  {% endif %}

  <!-- ***** Latest Episodes Area Start ***** -->
  <section class="poca-latest-epiosodes">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Latest Episodes</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- ***** Featured Post Area Start ***** -->
    {% assign subsite_posts = site.categories[page.subsite] | where: 'categories', 'episode' | reverse  %}
    {%- for post in subsite_posts limit: 1-%}
      {% include theme_post_preview_featured.html post=post featured=true %}
    {%- endfor -%}
    <!-- ***** Featured Post Area End ***** -->

    <!-- Episode listing -->
    <div class="container mt-5">
      <div class="row poca-portfolio">
        {%- assign episodes_shown = 1 -%}
        {% assign thumnail_episodes = subsite_posts | slice: 0, site.pagination.per_page %}
        {% for episode in thumnail_episodes limit: site.pagination.per_page %}
          {%- if forloop.first == false -%}
            {% include theme_post_preview_thumbnail.html episode=episode %}
            {%- assign episodes_shown = episodes_shown | plus : 1 -%}
          {%- endif -%}
        {% endfor %}
      </div>
    </div>

    <div class="container">
      {% if episodes_shown < subsite_posts.size -%}
        <div class="row">
          <div class="col-12 text-center">
            <a href="{{ site.url }}/{{ page.subsite }}/episodes/page2" class="btn poca-btn mt-70">More Episodes</a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center minor-link mt-2">
              <a href="/{{ page.subsite }}/episodes_all/">list all episodes in one page</a>
          </div>
        </div>
      {%- endif -%}
    </div>
  </section>
  <p></p>
  <!-- ***** Latest Episodes Area End ***** -->
